<% provide(:title, "About") %>

<div class="max-w-3xl mx-auto px-4 py-8">
  <h1 class="text-4xl font-bold mb-6">About</h1>

  <p class="text-lg text-gray-700 space-y-4">
    The 
    <a href="https://www.railstutorial.org/" class="text-blue-600 hover:underline">
      <em>Ruby on Rails Tutorial</em>
    </a>, part of the 
    <a href="https://www.learnenough.com/" class="text-blue-600 hover:underline">Learn Enough</a> family of tutorials, is a 
    <a href="https://www.railstutorial.org/book" class="text-blue-600 hover:underline">book</a> and 
    <a href="https://screencasts.railstutorial.org/" class="text-blue-600 hover:underline">screencast series</a> 
    to teach web development with 
    <a href="https://rubyonrails.org/" class="text-blue-600 hover:underline">Ruby on Rails</a>. 
    This is the sample app for the tutorial.
  </p>
</div>
