<% unless current_user?(@user) %>
    <div id="follow_form" class="mb-4">
        <% if current_user.following?(@user) %>
            <%= render 'unfollow' %>
        <% else %>
            <%= render 'follow' %>
        <% end %>
    </div>
<% end %>