<% if @user.errors.any? %>
  <div id="error_explanation" class="mb-4 rounded-lg border border-red-300 bg-red-50 p-4">
    <div class="mb-2 font-semibold text-red-700">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul class="list-disc space-y-1 pl-5 text-sm text-red-600">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
